@import url('https://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic|Balthazar');
@import 'bootstrap';
@import 'font-awesome';
@import 'variables';

/* Body */
body {
	font-family: 'Arimo', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.site-container {
	color: $black;
	@media (min-width: $screen-sm-min) {
		max-width: 1200px;
		margin: 20px auto;
	    border: 1px solid $black;
	    border-radius: 25px;
		@include box-shadow($z4-shadow);
		overflow: hidden;
	}
}

/* Header */
.header {
	background-color: $black;
	.logo-container {
	    padding: 20px;
	    background-color: $black;
	    border-top-left-radius: 25px;
	    border-top-right-radius: 25px;
	    img {
	    	max-width: 463px;
	    }
	}
	.navbar {
		background-color: $gold;
		margin-bottom: 0;
		border-top: 0;
		border-bottom: 1px solid $black;
		border-radius: 0;
		.navbar-brand {
			padding: 8px 15px;
			img {
				height: 100%;
				width: auto;
			}
		}
		.navbar-toggle {
		    border-color: $black;
		    .icon-bar {
		    	background-color: $black;
		    }
		}
		li {
			a {
				color: $black;
			}
			&.active a {
				background-color: $black;
				color: $white;
			}
			a:hover, a:focus {
				background-color: $black;
				color: $gold;
			}
		}
	}
}

/* Content */
.page {
	background-color: $white;
	padding: 20px;
}
h1 {
    font-family: 'Balthazar', serif;
    color: $darkgold;
}
h2 {
	color: $lightgold;
}

/* Footer */
.footer {
    padding: 20px;
	text-align: center;
	font-size: 10px;
	color: #fff;
	background-color: $black;
	p {
		margin-bottom: 2px;
	}
}

/* Home Page */
.featured-img-container {
	margin: 0 -15px;
	@media (min-width: $screen-sm-min) {
		margin: 0;
	}
}
.featured-img {
	@include box-shadow($z1-shadow);
	border-top: 1px solid $darkgold;
	border-bottom: 1px solid $darkgold;
	@media (min-width: $screen-sm-min) {
		border: 1px solid $darkgold;
	}
}

/* Order Form */
.price-box {
	position: fixed;
	right: 15px;
	bottom: 15px;
	border: 1px solid $black;
	background-color: #333;
	color: $white;
	padding: 25px 27px;
	line-height: normal;
	text-align: center;
	@include box-shadow($z4-shadow);
	.total {
		display: block;
	}
	.price {
		display: block;
		font-size: 20px;
	}
}
div.change-sizes div.count {
	margin-top: 2px;
}

/* General Styles */
.margin-top-0 {
	margin-top: 0;
}
.margin-bottom-0 {
	margin-bottom: 0;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}